*{
    font-family: 'Raleway'
}

.overlay-marker{
  font-weight: 900;
  color: #00BA0C
}

.page-header {
  border-bottom: 3px solid #568259;
}

.panel {
    border: 0;
}

.panel-default > .panel-heading-custom {
    background: #2E4052; color: #fff;
}
